/* Body element */
body {
    background-color: #eeeeeb;
    color: rgba(255, 45, 45, 0.8);
    }
    .light-mode body {
    background-color: #e4e4e4;
    color: #06062f;
    }
    .light-mode .el-drawer {
        background-color: #ffffff;
    }
    /* */
    .dark-mode body {
    background-color: #080817;
    color: #ebf4f1;
    }
    .dark-mode .backcolor{
        background-color: #040414;
    }
    .dark-mode .el-drawer {
        background-color: #020027;
      }
    /* */
    .gray-mode body {
    background-color: rgba(153, 159, 171, 0.98);
    color: #251603ef;
    }
    .gray-mode .backcolor{
        background-color: rgba(103, 91, 91, 0.98);

        color: #FFFFFF;
    }
    /*
    .gray-mode .el-drawer {
        background-color: #183ea5fa;
        color: #FFFFFF;
    }
    */
    .gray-mode .el-drawer {
        background-color: rgb(56, 73, 92);
        color: rgba(255, 45, 45, 0.8);
    }
    
    
    /* Active link */
    .router-link-active {
    border-bottom: 1px solid rgba(50, 64, 63, 0.2);
    }
    .dark-mode .router-link-active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .gray-mode .router-link-active {
    border-bottom: 1px solid rgba(207, 207, 207, 0.5);
    }
    /* input */
    textarea,
    input, select{
    padding:.5em;
    display: block;
    max-width: auto;
    margin-top: .2em;
    padding: .5em;
    border: 1px solid rgba(111, 109, 109,.2);
    border-radius: 4px;
    background: none;
    }
    .dark-mode textarea,
    .dark-mode input,
    .gray-mode select  {
    border: 1px solid rgba(199, 197, 197, 0.8);
    }
    .gray-mode textarea,
    .gray-mode input,
    .gray-mode select {
    border: 1px solid rgb(41, 41, 45);
    } 

    /* In je <style> sectie */
.text-crimson {
    color: rgb(142, 107, 114);
  }

    
      
    