.main {
    height:auto;
    min-height:100vh;
}
.container{
    max-width: 100ch;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}


p{
    margin-top: 10px;
    margin-right: 0em;
    margin-left: 0.90em;
    margin-bottom: 0.9em;
}
hr{
    border-bottom: 1px solid #ccc;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
ul, li {
    list-style: none;
}

.photo-pair {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Twee kolommen */
    gap: 4px; /* Ruimte tussen de afbeeldingen */
    width: calc(100vw - 40px); /* Maak de container bijna net zo breed als het scherm */
    max-width: none; /* Verwijder max-width beperkingen */
    margin: 0 auto; /* Centreer de container */
    position: relative; /* Zorg dat het zich los kan positioneren */
  }
  
  .photo-pair img {
    width: 100%; /* Laat de afbeelding de volledige kolombreedte vullen */
    height: auto; /* Behoud aspect ratio */
    object-fit: cover; /* Vul kolom netjes zonder vervorming */
    display: block; /* Verwijder inline marges */
  }
  
  .title-container {
    padding: 10rem; /* Verhoog de padding rondom de titel */
    text-align: center; /* Centreer de tekst */
    background-color: rgba(0, 0, 0, 0.6); /* Voeg een semi-transparante achtergrond toe */
    border-radius: 8px; /* Ronde hoeken */
    margin-bottom: 1rem; /* Voeg extra ruimte onder de container toe */
  }

  .homepage-crimson{
    color:crimson;

}


  